* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: #666;
  font: 16px/1.618 sans-serif;
  font-family: "Montserrat", sans-serif;
}
.head {
  background-color: snow;

  border-radius: 15px;
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: flex-start;
}
.nav {
  display: flex;

  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-color: snow;
}
.nav ul li {
  list-style-type: none;
  display: inline;
  margin: auto;
  padding-left: 12px;
  padding-right: 12px;
  text-align: justify;
  font-size: 18px;
}
.nav ul li:hover {
  color: steelblue;
  transition: 0.5s;
}
.container {
  padding-top: 25px;
  padding-left: 5%;
  background-color: snow;
}
h1 {
  /* text-align: center; */
  width: 100%;
  padding-left: 5%;
  color: black;
  background-color: snow;
  /* background-color: rgb(211, 206, 206); */
  font-size: 50px;
  font-weight: bolder;
}

#examDescription {
  background-color: steelblue;
  color: white;
  max-width: 90%;
  text-align: justify;
  margin-left: 5%;
  padding-right: 3%;
  padding-left: 3%;
  font-weight: bold;
  border-radius: 15px;
  /* margin: auto; */
}
#examFlag {
  max-width: 90%;
  text-align: center;
  margin: auto;
  margin-top: 3%;
  padding-right: 3%;
  padding-left: 3%;
  background-color: #c4edff;
  border-radius: 15px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  padding-bottom: 5%;
}
.cardTitle {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: large;
  background-color: steelblue;
}
.flip-card {
  width: 400px;
  height: 400px;
  margin: auto;
  padding: 10%;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
}

.flipImage {
  width: 90%;
  height: 90%;
  padding: 3%;
  margin: auto;
}

/* Style the back side */
.flip-card-back {
  background-color: steelblue;
  color: white;
  transform: rotateY(180deg);
  padding: 10%;
  margin: auto;
  font-weight: bold;
}

.cardImage {
  height: 225px;
  max-width: 100%;
}

/* This container is needed to position the front and back side */
.flip__card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
*/

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip__card:hover .flip__card_inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip__card_front,
.flip__card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip__card_front {
  background-color: gray;
  color: white;
}

/* Style the back side */
.flip__card_back {
  background-color: gray;
  color: white;
  transform: rotateY(180deg);
}

.footer {
  /* display: flex;
    align-items: center;
    justify-content: space-between; */
  padding: 2rem 0rem 2rem 0rem;
  background-color: black;
}

.footer__copyright {
  margin-left: 3rem;
  color: #fff;
}
